.resendreset {
    display: flex;
    margin-block: 20px;
    border-bottom: none !important;
    font-size: 1.2rem;
    user-select: none;

    p {
        color: var(--green);
        // font-weight: bold;

        a {
            font-weight: bold;
            margin-inline: 10px;
            color: var(--main-color);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
